@import "tailwindcss";
@layer theme, base, components, utilities;

@layer utilities {
  .btn-color {
    @apply bg-white/40  backdrop-blur-lg hover:bg-white/60 shadow-xl;
  }
}

:root {
  --primary: #EEE4D8;
  --secondary: #d89024;
  --primary-hover: #dcccba;
  --content:#171717;
  --color-gg-100: oklch(0.99 0 0);
}

@theme {
  --color-background: var(--background);
  --color-content: var(--content);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
